html {
  background-color: blanchedalmond;
}
h1 {
  color: brown;
}
.blue {
    background-color: rgb(2, 255, 242);
}
.purple {
    background-color: rgb(227, 13, 255);
}
.red {
    background-color: rgb(255, 0, 0);
}
