header {
  text-align: center;
  font-family: sans-serif;
}
h2 {
  color: red;
  text-decoration: underline;
}
.read {
  color: red;
  font-family: sans-serif;
}
div {
  background-image: url(backgroundcss1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
