table {
  width: 30%;
  border-spacing: 5px;
}
tbody {
  background-color: rgb(0, 179, 255);
}
td {
  text-align: left;
  padding: 6px;
}
#age {
  width: 40%;
  height: 20px;
}
tfoot {
  background-color: rgb(0, 179, 255);
}
button {
  width: 31%;
  height: 50px;
  font-family: cursive;
}
thead {
  background-color: blanchedalmond;
  height: 5px;
  font-size: 30px;
  color: red;
}
